<a href="https://colab.research.google.com/github/Prudhvisankar2002/Python-Libraries/blob/main/pd_attributes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pandas in NaN value?

import pandas as pd
import numpy as np
data=[10,22,43,np.nan,46,38]
df=pd.Series(data)
print(df)

0    10.0
1    22.0
2    43.0
3     NaN
4    46.0
5    38.0
dtype: float64

In [2]:
# create a series with nan string values?
import pandas as pd
import numpy as np
data=['prudhvi','sankar','ramana']
df=pd.Series(data)
print(df)

0    prudhvi
1     sankar
2     ramana
dtype: object

In [3]:
#pandas in series on values attributes?
import pandas as pd
result=[22,55,43,76,44,99,45,66]
df=pd.Series(result)
print(df)
print(df.values)

0    22
1    55
2    43
3    76
4    44
5    99
6    45
7    66
dtype: int64
[22 55 43 76 44 99 45 66]

In [4]:
#pandas in series on index attributes?
import pandas as pd
result=[22,55,43,76,44,99,45,66]
df=pd.Series(result)
print(df)
print(df.index)

0    22
1    55
2    43
3    76
4    44
5    99
6    45
7    66
dtype: int64
RangeIndex(start=0, stop=8, step=1)

In [5]:
#pandas in series on index on string attributes?
import pandas as pd
result=[22,55,43,76,44,99,45,66]
i=['a','b','c','d','e','f','g','h']
df=pd.Series(result,index=i)
print(df)
print(df.index)

a    22
b    55
c    43
d    76
e    44
f    99
g    45
h    66
dtype: int64
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')

In [6]:
#pandas in series on dtype attributes?
import pandas as pd
result=[22,55,43,76,44,99,45,66]
series=pd.Series(result)
print(series)
print(series.dtype)

0    22
1    55
2    43
3    76
4    44
5    99
6    45
7    66
dtype: int64
int64

In [7]:
#pandas in series on dtype attributes?
import pandas as pd
result=[22,55,'rakesh',76,'ramaya',99,45,66]
series=pd.Series(result)
print(series)
print(series.dtype)

0        22
1        55
2    rakesh
3        76
4    ramaya
5        99
6        45
7        66
dtype: object
object

In [8]:
#pandas in series on size attributes?
import pandas as pd
result=[22,55,47,76,99,45,66]
series=pd.Series(result)
print(series)
print(series.size)

0    22
1    55
2    47
3    76
4    99
5    45
6    66
dtype: int64
7