<a href="https://colab.research.google.com/github/Prudhvisankar2002/Python-Libraries/blob/main/pd_libararie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas libaray is an open source python library.

# pandas have a powerful datastructure.

# mainly usage of pandas is analysing the data.

# pandas using :-
                # 1)data loading
                # 2)data preparation
                # 3)data_manipulation
                # 4)data analysis & etc..

In [ ]:
# pandas data structures
# There are :-
               # 1) Series  --->1D---->column
               # 2) data Frame ---->2D----> rows &columns
               # 3) panel ---->3D ----> Group of data frames

In [5]:
# Write a program create a empty data frame?

import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
# Write a program create a dataframe by using single list?

import pandas as pd
data=[55,67,45,68,89,23]
df=pd.DataFrame(data)
print(df)

    0
0  55
1  67
2  45
3  68
4  89
5  23

In [11]:
# Write a program create a dataframe by using single list of list?

import pandas as pd
#data creation list in list
data=[ [101,'prudhvi',10000.0],
       [102,'sankar',20000.0],
       [103,'ramana',30000.0]
     ]
df=pd.DataFrame(data,columns=['emp_id','emp_name','emp_salary'])
print(df)

   emp_id emp_name  emp_salary
0     101  prudhvi     10000.0
1     102   sankar     20000.0
2     103   ramana     30000.0

In [13]:
# Write a program create a dataframe by using DICTIONARY?

import pandas as pd
data={
      'names':['raja','rani','bantu'],
      'Age':[33,44,55],
      'city':['hyderabad','delhi','chennai']
     }
df=pd.DataFrame(data)
print(df)

   names  Age       city
0   raja   33  hyderabad
1   rani   44      delhi
2  bantu   55    chennai

In [14]:
# write a program for empty Series object?

# Series is pre_defined object in pandas.

import pandas as pd
df=pd.Series()
print(df)

Series([], dtype: object)

In [16]:
# write a program for using list Series object and assign a name?

import pandas as pd
data=[10,20,30,40,50]
df=pd.Series(data,name='marks')
print(df)

0    10
1    20
2    30
3    40
4    50
Name: marks, dtype: int64

In [17]:
# write a program for using list Series object and assign a name?
import pandas as pd
data=['raja','rani','bantu','krishna']
df=pd.Series(data,name='students')
print(df)

0       raja
1       rani
2      bantu
3    krishna
Name: students, dtype: object

In [18]:
# writa a program to print creating the Series from array?

import pandas as pd
import numpy as np
data=(23,55,86,35,25,56)
data1=np.array(data)
s=pd.Series(data1)
print(s)

0    23
1    55
2    86
3    35
4    25
5    56
dtype: int64

In [20]:
# writa a program to print create to using the Series from array?

import pandas as pd
import numpy as np
data=['ramya','rakesh','ravi','sreja','sankar']
values=np.array(data)
string=pd.Series(values,name='emp_names')
print(string)

0     ramya
1    rakesh
2      ravi
3     sreja
4    sankar
Name: emp_names, dtype: object